demo/*
ignore
ignore/*
src/test
src/test.exe
src/querytranslate/test
src/queryinterface/test

*.o
*.iml
*.idea/
src/.project
src/.cproject
build/

src/distributionAnalysis.r
src/output*.txt
src/tempOutputFile*
distributionAnalysis.r
output.txt
tempOutputFile*
runScript.sh

.vscode/
test*/
graph.html
workload.html

*.bak
